.header {
    background-color: rgba(242, 201, 107, 0);
    width: 100%;
    display: flex;
    height: 75px;
    padding: 35px;
    padding-left: 30px;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in height */
    position: fixed;
    z-index: 7;
    top: 0;
    transition: opacity 0.6s ease; /* For smooth disappearance */
}

#pic1 {
    width: 125px; /* Adjusted size for taskbar */
    height: auto; /* Maintain aspect ratio */
}

#menu {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

#hamburger {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    margin-left: auto;
    top: -5px;
    right: 6px;
    position: relative;
}

.header.hidden {
    opacity: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
        height: 65px;
    }

    #pic1 {
        width: 100px;
    }

    #menu, #hamburger {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 15px;
        height: 55px;
    }

    #pic1 {
        width: 80px;
    }

    #menu, #hamburger {
        width: 25px;
        height: 25px;
    }
}