.f1 {
    background-color: #c0c0c0;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative; /* Ensure it doesn't disrupt the layout */
    margin-bottom: 0;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center items horizontally */
}

#f1Pic {
    width: 365px;
    height: 365px;
    margin-right: 25px;
}

.f1Text {
    width: 440px;
}
.f1Name{
    margin: 5px;
    color: #1c1c1c;
    font-family: inter;
    font-size: 40px;
    font-weight: bolder;
}
.f1Discription{
    margin: 0px;
    color: #1c1c1c;
    font-family: inter;
    font-weight: 590;
    font-size: 22px;
}